/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #06080a;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
  color: #4a90e2;
}

/* Container principal */
.container {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

label {
  font-size: 1.1rem;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4a90e2;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}

button:hover {
  background-color: #357ABD;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

li strong {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

li span {
  display: block;
  font-size: 0.9rem;
  color: #666;
}

/* Estilos para os itens da lista */
.post-item {
  display: flex; /* Usar flexbox para alinhar os itens */
  justify-content: space-between; /* Espaçar os itens para as extremidades */
  align-items: center; /* Centralizar verticalmente */
  border-bottom: 1px solid #ddd; /* Adiciona uma borda inferior para separar os itens */
  padding: 15px 0; /* Ajuste o padding para espaçamento */
}

.containerNomes {

  width: calc(100% - 100px); /* Ajuste a largura para dar espaço para o botão */
  padding: 10px; /* Adicione padding para dar um espaço interno */
}

.delete-button {
  background-color: red; /* Cor de fundo vermelha */
  color: white; /* Cor do texto branca */
  width: auto; /* Largura automática para o botão */
  padding: 5px 10px; /* Ajuste o padding conforme necessário */
  border: none; /* Remove borda padrão */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

.delete-button:hover {
  background-color: darkred; /* Cor de fundo quando o mouse passa por cima */
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  h1 {
    font-size: 1.5rem;
  }

  button {
    font-size: 0.9rem;
  }

  .image-side {
    width: 40px; /* Ajuste o tamanho conforme necessário */
  }
}

/* Ajustes para telas maiores */
@media (min-width: 1024px) {
  .container {
    max-width: 800px;
  }

  h1 {
    font-size: 2.5rem;
  }

  button {
    font-size: 1.1rem;
  }

  input,
  textarea {
    font-size: 1.1rem;
  }
}

/* Estilos para o header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

h1 {
  margin: 0 20px;
  font-size: 2rem;
  color: #4a90e2;
}

/* Estilos para as imagens */
.image-side {
  width: 50px; /* Ajuste o tamanho conforme necessário */
  height: auto;
}
